
doctype html
html(lang="en")
  head
    title= 'Node.js Template'
  body
  table 
    h1 The profile of the user -
    h1 Email - #{email}
    h1 Username - #{username}
    h1 Avatar - #{avatar}

    